{% extends 'base.html' %}
{% block title %}
    Your shopping cart
{% endblock %}
{% block content %}
    <h1>Your shopping cart</h1>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: 1;

}
.card {
    background-color:rgba(250,250,250,0.23);
    margin: 5px 5px 5px 5px;
    border: none;

}
.item-image{
    border-radius: 5px;
}
.content {
    display:flex;
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 2;
    border-radius: 20px;
}
.content-2{
    display: list-item;
}
.list-group-item{
    background: rgba(0, 0, 0, 0.5);
}
</style>
</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="/static/3.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="content">

        {% for item in cart %}
            {% with product=item.product %}
               <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>

                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Quantity {{ item.quantity }}</li>
                    <li class="list-group-item">{{ item.price }}$</li>
                    <li class="list-group-item"><a href="{% url "cart:cart_remove" product.id%}">Remove</a></li>
                  </ul>
                  <div class="card-body">
                    <a href="{{ product.get_absolute_url }}" class="card-link">Link</a>

                  </div>
                </div>


            {% endwith %}
        {% endfor %}

        </tbody>
    </table>

<div class="content-2">
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{% url "Listing:product_list" %}" style="color: white">Continue shopping</a></button>
    <button type="button" class="btn btn-secondary btn-lg btn-block"><a href="{% url "orders:order_create" %}"style="color: white">Checkout</a></button>
</div>
</div>
</body>
{% endblock %}