{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Order form</h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form|crispy }}<br>
                    <input type="submit" class="btn btn-primary" value="Сonfirm the order">
                </form>
            </div>
            <div class="col-md-4">
                <div class="page-header">
                    Order
                </div>
                <ul class="list-group">
                    {% for item in cart %}
                        <li class="list-group-item">
                        {{ item.quantity }}x {{ item.product.name }}
                        <span> {{ item.total_price }}</span>
                        </li>
                    {% endfor %}

                <li class="list-group-item active">Total price: {{ cart.get_total_price }}</li>
                </ul>

            </div>
        </div>
    </div>
{% endblock %}