{% extends "base.html" %}

{% block title %}Thank you{% endblock %}

{% block content %}
    <h1>Thank you</h1>
    <p>Your ticket has been successfully completed. Your ticket number is
        <strong>{{ ticket.id }}</strong>.</p>
{% endblock %}