{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Your Shopping Cart| Checkout
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <div class="col-md-8">
                <h4 class="page-header">Sending form </h4>
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form|crispy }}<br>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>

        </div>
    </div>
{% endblock %}