{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: 1;

}
.card {
    background-color:rgba(250,250,250,0.23);
    margin: 5px 5px 5px 5px;
    border: none;

}
.item-image{
    border-radius: 5px;
}
.content {
    display:flex;
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 2;
    border-radius: 20px;
}


</style>
</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="/static/2.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="">

<div class="content">
  <img src="{{ product.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ product.name}}</h5>
    <H2 class="card-text">{{ product.description }}</H2>
      <p class="card-text">{{ product.category}}</p>
    <p class="card-text"><small class="text-muted">Coast {{ product.price }}$</small></p>
      <p class="price">${{ product.price }}</p>
<form action="{% url 'cart:cart_add' product.id %}" method="post">
    {% csrf_token %}
    {{ cart_product_form }}
<button type="submit" class="btn btn-secondary btn-lg btn-block">Аdd product to cart</button>

</form>
  </div>
</div>
</div>
{% endblock content %}
