{% extends 'base.html' %}
{% block title %}Store{% endblock %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: 1;

}
.card {
    background-color:rgba(250,250,250,0.23);
    margin: 5px 5px 5px 5px;
    border: none;

}
.item-image{
    border-radius: 5px;
}
.content {
    display:flex;
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    z-index: 2;
    border-radius: 20px;
}


</style>
</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="/static/1.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<div class="content">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/static/slide1.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/slide2.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/static/slide3.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="content">



    <div class="row justify-content-center">
        <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Product category
         </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'Listing:product_list' %}">All</a>

         {% for category in categories %}
        <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
    {% endfor %}
    </div>
</div>

        <div class="col-lg-6">
            <div class="card-body text-center">

                <div class="bottom_line"></div>
            </div>
        </div>
        {% for product in products %}
            <div class="col-sm-6">
                <div class="card product">
                    <div class="item">
                        <div class="item-image">
                            <a href="{{ product.get_absolute_url }}">

                                <img src ="{{ product.image.url }}"alt=""
                                     class="img-fluid rounded-0">
                            </a>



                        </div>
                        <div class="item-text">
                            <div class="item-text-wrap">

                            </div>
                        </div>
                        <div class="card-body text-center">
                            {{ product.name }}
                            <hr>
                            <span>${{ product.price }}</span>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock content %}