{% extends 'base.html' %}
{% block title %}Store{% endblock %}
{% block content %}

<center>
     {%if searched %}
        <h2>You searched for {{ searched }}</h2>
         <br/>
         {% for product in products%}
            <ul class="list-group list-group-flush">

                <li  class="list-group-item" ><a href="{{ product.get_absolute_url }}" >{{ product }} {{ product.price }}$</a>




                </li>

            </ul>

         {% empty %}
            <p>Sorry, nothing was found for your {{ searched }} request </p>

         {% endfor %}
     {% else %}
        <h2>hey</h2>
     {% endif %}
    </center>

{% endblock content %}